apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  selector:
    matchLabels:
      app: mysql
  replicas: 1
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - image: mysql:9.2.0
          name: mysql
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: appmic-quotingplugins-quotations
                  key: db_name
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: appmic-quotingplugins-quotations
                  key: password
          volumeMounts:
            # Almacenamiento de datos
            - mountPath: /var/lib/mysql
              name: mysql-storage
              subPath: mysql-data
            # Script de inicialización (opcional)
            - mountPath: /docker-entrypoint-initdb.d
              name: mysql-init-scripts
      volumes:
        - name: mysql-storage
          persistentVolumeClaim:
            claimName: mysql-pvc
        # Volumen proyectado desde el ConfigMap para scripts de inicialización
        - name: mysql-init-scripts
          configMap:
            name: mysql-init-scripts
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
spec:
  ports:
    - port: 3306
      protocol: TCP
      targetPort: 3306
  selector:
    app: mysql
  type: ClusterIP